body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: purple;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.c-QuestionInput-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 5%;
}

.c-QuestionInput-instruction-text {
  font-weight: bold;
  color: white;
  background-color: #9081e0;
  padding: 0 2px
}

.c-QuestionInput-form-label {
  display: block;
}

.c-QuestionInput-form-text-area {
  display: block;
  margin: 15px 0;
  width: 300px;
  padding: 5px;
}



.question {
  padding: 15px;
}

.c-QuesitionList-container {
  color: #303030;
  font-size: large;
  width: fit-content;
  /* grid-column-start: 3; */
}
